body {
  background-color: rgb(0,0,0);
  color: white;
  margin: 0;
}

a {
  text-decoration: none;
}


html, body {
  scrollbar-width: 20px;
  scrollbar-color: #e50914 #111;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  width: 10px;
}

html::-webkit-scrollbar-track,
body::-webkit-scrollbar-track {
  background: #111;
}

html::-webkit-scrollbar-thumb,
body::-webkit-scrollbar-thumb {
  background-color: #e50914;
  border-radius: 10px;
  border: 2px solid #111;
}
